In [11]:
import re
import requests
import urllib.parse
import pandas as pd

In [2]:
stop = pd.Timestamp.now()
start = stop.round('1d') - pd.Timedelta('7d')

In [3]:
url = "https://opendata.meteo.be/service/ows?service=WFS&version=2.0.0&request=GetFeature&typenames=synop:synop_data&outputformat=csv&CQL_FILTER=((BBOX(the_geom,2.887306,49.620358,6.073438,51.347375,%20%27EPSG:4326%27))%20AND%20(timestamp%20%3E=%20%27{start:%Y-%m-%d}%2000:00:00.000%27%20AND%20timestamp%20%3C=%20%27{stop:%Y-%m-%d}%2000:00:00.000%27))&sortby=timestamp".format(start=start, stop=stop)

In [8]:
data = pd.read_csv(url)

In [10]:
data["timestamp"] = pd.to_datetime(data["timestamp"])

In [12]:
data

,FID,the_geom,code,timestamp,precip_quantity,precip_range,temp,temp_min,temp_max,temp_grass_min,...,wind_speed_unit,wind_direction,wind_peak_speed,humidity_relative,weather_current,pressure,pressure_station_level,sun_duration_24hours,short_wave_from_sky_24hours,cloudiness
0,synop_data.6439.2023-10-20 00:00:00+00,POINT (51.075125 4.524608),6439,2023-10-20,0.1,1.0,15.0,NaN,NaN,NaN,...,1,102.8,4.5,96.1,NaN,984.2,983.1,156.0,4646100.0,NaN
1,synop_data.6490.2023-10-20 00:00:00+00,POINT (50.478615 5.909864),6490,2023-10-20,NaN,1.0,12.9,NaN,NaN,NaN,...,1,160.0,10.0,NaN,NaN,985.2,931.2,NaN,NaN,8.0
2,synop_data.6459.2023-10-20 00:00:00+00,POINT (50.581913 4.689214),6459,2023-10-20,0.0,1.0,15.5,NaN,NaN,NaN,...,1,126.9,5.7,88.2,NaN,984.1,965.7,118.0,4636600.0,NaN
3,synop_data.6494.2023-10-20 00:00:00+00,POINT (50.510779 6.073438),6494,2023-10-20,0.3,1.0,12.2,NaN,NaN,NaN,...,1,173.7,11.2,100.0,NaN,985.6,910.0,57.0,4056700.0,NaN
4,synop_data.6478.2023-10-20 00:00:00+00,POINT (50.645282 5.458738),6478,2023-10-20,NaN,1.0,15.5,NaN,NaN,NaN,...,1,140.0,10.0,NaN,21.0,984.4,963.7,NaN,NaN,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3331,synop_data.6484.2023-10-27 00:00:00+00,POINT (49.620358 5.587229),6484,2023-10-27,1.1,1.0,9.3,NaN,NaN,NaN,...,1,177.1,2.7,NaN,NaN,993.9,955.8,0.0,2260400.0,NaN
3332,synop_data.6472.2023-10-27 00:00:00+00,POINT (50.193663 5.255236),6472,2023-10-27,1.8,1.0,9.3,NaN,NaN,NaN,...,1,126.8,4.8,94.4,NaN,993.8,959.0,60.0,3233100.0,NaN
3333,synop_data.6407.2023-10-27 00:00:00+00,POINT (51.200341 2.887306),6407,2023-10-27,NaN,1.0,10.1,NaN,NaN,NaN,...,1,160.0,4.0,NaN,2.0,991.2,990.6,NaN,NaN,7.0
3334,synop_data.6439.2023-10-27 00:00:00+00,POINT (51.075125 4.524608),6439,2023-10-27,1.6,1.0,10.6,NaN,NaN,NaN,...,1,148.3,3.6,100.0,NaN,992.2,991.0,23.0,4069200.0,NaN
3335,synop_data.6418.2023-10-27 00:00:00+00,POINT (51.347375 3.201846),6418,2023-10-27,0.0,1.0,12.4,NaN,NaN,NaN,...,1,158.5,6.5,91.6,NaN,991.2,989.6,85.0,NaN,8.0

In [16]:
regex = re.compile("^POINT[\s]+\(([\d.]*)[\s,;]([\d.]*)\)$")

In [18]:
m = regex.match("POINT (51.075125 4.524608)")

In [33]:
data[["latitude", "longitude"]] = data["the_geom"].str.extract("^POINT[\s]+\(([\d.]*)[\s,;]([\d.]*)\)$").astype(float)

In [34]:
m.groups(1)

('51.075125', '4.524608')

In [35]:
data

,FID,the_geom,code,timestamp,precip_quantity,precip_range,temp,temp_min,temp_max,temp_grass_min,...,weather_current,pressure,pressure_station_level,sun_duration_24hours,short_wave_from_sky_24hours,cloudiness,lon,lat,latitude,longitude
0,synop_data.6439.2023-10-20 00:00:00+00,POINT (51.075125 4.524608),6439,2023-10-20,0.1,1.0,15.0,NaN,NaN,NaN,...,NaN,984.2,983.1,156.0,4646100.0,NaN,51.075125,4.524608,51.075125,4.524608
1,synop_data.6490.2023-10-20 00:00:00+00,POINT (50.478615 5.909864),6490,2023-10-20,NaN,1.0,12.9,NaN,NaN,NaN,...,NaN,985.2,931.2,NaN,NaN,8.0,50.478615,5.909864,50.478615,5.909864
2,synop_data.6459.2023-10-20 00:00:00+00,POINT (50.581913 4.689214),6459,2023-10-20,0.0,1.0,15.5,NaN,NaN,NaN,...,NaN,984.1,965.7,118.0,4636600.0,NaN,50.581913,4.689214,50.581913,4.689214
3,synop_data.6494.2023-10-20 00:00:00+00,POINT (50.510779 6.073438),6494,2023-10-20,0.3,1.0,12.2,NaN,NaN,NaN,...,NaN,985.6,910.0,57.0,4056700.0,NaN,50.510779,6.073438,50.510779,6.073438
4,synop_data.6478.2023-10-20 00:00:00+00,POINT (50.645282 5.458738),6478,2023-10-20,NaN,1.0,15.5,NaN,NaN,NaN,...,21.0,984.4,963.7,NaN,NaN,6.0,50.645282,5.458738,50.645282,5.458738
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3331,synop_data.6484.2023-10-27 00:00:00+00,POINT (49.620358 5.587229),6484,2023-10-27,1.1,1.0,9.3,NaN,NaN,NaN,...,NaN,993.9,955.8,0.0,2260400.0,NaN,49.620358,5.587229,49.620358,5.587229
3332,synop_data.6472.2023-10-27 00:00:00+00,POINT (50.193663 5.255236),6472,2023-10-27,1.8,1.0,9.3,NaN,NaN,NaN,...,NaN,993.8,959.0,60.0,3233100.0,NaN,50.193663,5.255236,50.193663,5.255236
3333,synop_data.6407.2023-10-27 00:00:00+00,POINT (51.200341 2.887306),6407,2023-10-27,NaN,1.0,10.1,NaN,NaN,NaN,...,2.0,991.2,990.6,NaN,NaN,7.0,51.200341,2.887306,51.200341,2.887306
3334,synop_data.6439.2023-10-27 00:00:00+00,POINT (51.075125 4.524608),6439,2023-10-27,1.6,1.0,10.6,NaN,NaN,NaN,...,NaN,992.2,991.0,23.0,4069200.0,NaN,51.075125,4.524608,51.075125,4.524608
3335,synop_data.6418.2023-10-27 00:00:00+00,POINT (51.347375 3.201846),6418,2023-10-27,0.0,1.0,12.4,NaN,NaN,NaN,...,NaN,991.2,989.6,85.0,NaN,8.0,51.347375,3.201846,51.347375,3.201846

In [37]:
data

,FID,the_geom,code,timestamp,precip_quantity,precip_range,temp,temp_min,temp_max,temp_grass_min,...,weather_current,pressure,pressure_station_level,sun_duration_24hours,short_wave_from_sky_24hours,cloudiness,lon,lat,latitude,longitude
0,synop_data.6439.2023-10-20 00:00:00+00,POINT (51.075125 4.524608),6439,2023-10-20,0.1,1.0,15.0,NaN,NaN,NaN,...,NaN,984.2,983.1,156.0,4646100.0,NaN,51.075125,4.524608,51.075125,4.524608
1,synop_data.6490.2023-10-20 00:00:00+00,POINT (50.478615 5.909864),6490,2023-10-20,NaN,1.0,12.9,NaN,NaN,NaN,...,NaN,985.2,931.2,NaN,NaN,8.0,50.478615,5.909864,50.478615,5.909864
2,synop_data.6459.2023-10-20 00:00:00+00,POINT (50.581913 4.689214),6459,2023-10-20,0.0,1.0,15.5,NaN,NaN,NaN,...,NaN,984.1,965.7,118.0,4636600.0,NaN,50.581913,4.689214,50.581913,4.689214
3,synop_data.6494.2023-10-20 00:00:00+00,POINT (50.510779 6.073438),6494,2023-10-20,0.3,1.0,12.2,NaN,NaN,NaN,...,NaN,985.6,910.0,57.0,4056700.0,NaN,50.510779,6.073438,50.510779,6.073438
4,synop_data.6478.2023-10-20 00:00:00+00,POINT (50.645282 5.458738),6478,2023-10-20,NaN,1.0,15.5,NaN,NaN,NaN,...,21.0,984.4,963.7,NaN,NaN,6.0,50.645282,5.458738,50.645282,5.458738
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3331,synop_data.6484.2023-10-27 00:00:00+00,POINT (49.620358 5.587229),6484,2023-10-27,1.1,1.0,9.3,NaN,NaN,NaN,...,NaN,993.9,955.8,0.0,2260400.0,NaN,49.620358,5.587229,49.620358,5.587229
3332,synop_data.6472.2023-10-27 00:00:00+00,POINT (50.193663 5.255236),6472,2023-10-27,1.8,1.0,9.3,NaN,NaN,NaN,...,NaN,993.8,959.0,60.0,3233100.0,NaN,50.193663,5.255236,50.193663,5.255236
3333,synop_data.6407.2023-10-27 00:00:00+00,POINT (51.200341 2.887306),6407,2023-10-27,NaN,1.0,10.1,NaN,NaN,NaN,...,2.0,991.2,990.6,NaN,NaN,7.0,51.200341,2.887306,51.200341,2.887306
3334,synop_data.6439.2023-10-27 00:00:00+00,POINT (51.075125 4.524608),6439,2023-10-27,1.6,1.0,10.6,NaN,NaN,NaN,...,NaN,992.2,991.0,23.0,4069200.0,NaN,51.075125,4.524608,51.075125,4.524608
3335,synop_data.6418.2023-10-27 00:00:00+00,POINT (51.347375 3.201846),6418,2023-10-27,0.0,1.0,12.4,NaN,NaN,NaN,...,NaN,991.2,989.6,85.0,NaN,8.0,51.347375,3.201846,51.347375,3.201846