In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame([
    ['A1',  'B2',  'C1',   'D1'],
    ['A2',  'B2',  'C2',   'D2'],
    ['A3',  'B2',  'C3',   'D3'],
    ['A4',  'B4',  'C4',   'D4'],
    ['A5',  'B4',  'C5',   'D5'],
    ['A6',  'B4',  'C6',   'D6'],
    ['A7',  'B6',  'C7',   'D7'],
    ['A8',  'B6',  'C8',   'D8'],
    ['A9',  'B10', 'C9',   'D9'],
    ['A10', 'B10', 'C10',  'D10'],
    ['A11', 'B10', 'C11',  'D11'],
    ['A12', 'B10', 'C12',  'D12'],
    ['A13', 'B14', 'C13',  'D13'],
    ['A14', 'B14', 'C14',  'D14'],
    ['A15', 'B14', 'C15',  'D15']
], 
   columns=['c1', 'c2', 'c3', 'c4']
)

In [3]:
df

     c1   c2   c3   c4
0    A1   B2   C1   D1
1    A2   B2   C2   D2
2    A3   B2   C3   D3
3    A4   B4   C4   D4
4    A5   B4   C5   D5
5    A6   B4   C6   D6
6    A7   B6   C7   D7
7    A8   B6   C8   D8
8    A9  B10   C9   D9
9   A10  B10  C10  D10
10  A11  B10  C11  D11
11  A12  B10  C12  D12
12  A13  B14  C13  D13
13  A14  B14  C14  D14
14  A15  B14  C15  D15

In [6]:
keys = df["c2"].unique().tolist()
color = df["c2"].apply(lambda x: keys.index(x) % 2)
color = color.replace({0: 'background-color: green', 1: ''})
df.style.apply(lambda x: color)